body {
  background-color: rgb(33, 4, 47);
  color: white;
  top: 0;
  bottom: 0;
  /* margin-left: 150px; */
}
header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: silver;
  animation: glow 0.3s infinite;
  transition: 0.3s ease;

  /* text-transform: capitalize; */
}

img {
  width: 100%;
  object-fit: cover;

  /* opacity: 1;
  transition: 0.5s ease; */
  /* backface-visibility: hidden; */
}

img:hover {
  transform: scaleX(-1);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  font-family: monospace;
  margin: 0 auto;
  /* display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-flow: row wrap; */

  /* padding: 10px; */
}

.horned-beast {
  width: 25%;
  background-color: rgb(33, 4, 47);
  opacity: 1;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  border: silver inset;
  margin: 0.5rem 1rem 0.5rem;
}

.horned-beast h2 {
  text-align: center;
  font-size: 1rem;
}

/* .horned-beast img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  flex-grow: 1;
} */

.selected-beast {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
}

.selected-beast img {
  width: 50%;
}

.selected-beast span {
  cursor: pointer;
}
.div:hover .horned-beast {
  opacity: 1;
}
.div:hover .img {
  opacity: 0.3;
}
footer {
  margin: 0;
  margin-top: 50px;
  font-style: italic;
}
/* .form {
  height: 100vh;
    width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: darkslategray;
  font-family: monospace;
} */
